In [32]:
import pandas as pd 
from datetime import date , timedelta
from docxtpl import DocxTemplate
import itertools 

os.getcwd()
# from jinja2 import Environment,FileSystemLoader

'/home/muhammad-rumi/Documents/Python/Automate'

## I have been working with data upto date 6 look this up in the resource file and modify the date belwo

In [33]:
today = date.today()
yesterday = today - timedelta(days = 5) 

yesterday= yesterday.strftime("%d-%b-%y")

yesterday
# os.chdir('muhammad-rumi/Documents/Python/Automate')
destination = os.getcwd() + '/main/.resources/data.csv'
destination
df= pd.read_csv(destination)

In [34]:
def data():
    global df 
    #destination = os.getcwd() + '/.resources/data.csv'
    df = pd.read_csv(destination)
    #print(df)
    colmuns = ['Post to name','Item title','Post to address 1','Post to address 2','Post to city','Post to county','Post to postcode','Quantity','Post to country','Sale date']
    return df[colmuns]

data()

,Post to name,Item title,Post to address 1,Post to address 2,Post to city,Post to county,Post to postcode,Quantity,Post to country,Sale date
0,jodie meah,NATUHANA Green Blue Purple Color Eyelash Exten...,14 gorse close,chelmsley wood GB 365 6085 76 Code:Paid,birmingham,west midlands,b375ej,1,United Kingdom,06-Jan-21
1,Grace Kirk,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,69 Lindisfarne Road,NaN,Durham,Durham,DH1 5YU,1,United Kingdom,05-Jan-21
2,Arvinder Palaha,Nylon Braided Short Length 0.25 M Long C-Type ...,14 Bream Ridge,ebayl7ly73r,Wantage,Oxfordshire,OX12 9WS,1,United Kingdom,05-Jan-21
3,Susan Southwood,Long Braided USB IOS Quick Charger Data Chargi...,"Flat 15, School Lofts",Cecil Street ebay27lp3fp,Walsall,West Midlands,WS4 2BF,2,United Kingdom,05-Jan-21
4,Tracey Loky,Long Braided USB IOS Quick Charger Data Chargi...,"Flat 10, Windsor Court",312 Forest Road ebayb7m2g9x,London,London,E17 5JJ,1,United Kingdom,05-Jan-21
5,AJ Warren,NaN,40 harewood crest,ebaym7lqtjc,brough,East Riding of Yorkshire,HU151QD,4,United Kingdom,05-Jan-21
6,NaN,Long Braided USB IOS Quick Charger Data Chargi...,NaN,NaN,NaN,NaN,NaN,2,NaN,05-Jan-21
7,NaN,Long Braided USB IOS Quick Charger Data Chargi...,NaN,NaN,NaN,NaN,NaN,2,NaN,05-Jan-21
8,Natasha Morrison,Long Braided USB IOS Quick Charger Data Chargi...,12 Totnes Road,ebayb7ltl9x,South Brent,Devon,TQ10 9BP,1,United Kingdom,05-Jan-21
9,Debi Whitelaw,Long Braided USB IOS Quick Charger Data Chargi...,Chestnuts,Barkham road ebayp7llcgs,wokingham,Berkshire,RG414TF,2,United Kingdom,05-Jan-21
10,Siu-Cheung Lee,NaN,21 Denby Grange,ebayu7lgcg3,Harlow,Essex,CM17 9PZ,2,United Kingdom,05-Jan-21
11,NaN,Heavy duty Nylon Braided Charging Type-C Cable...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
12,NaN,Heavy duty Nylon Braided Charging Type-C Cable...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
13,Izzy Hope,NaN,White Gate,Mill Hill Lane,Northallerton,North Yorkshire,DL61AP,2,United Kingdom,05-Jan-21
14,NaN,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
15,NaN,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
16,Amel Lucy,NaN,41 Ashwood Pkwy,ABN#64652016681 Code:PAID,Lakelands,WA,6180,15,Australia,05-Jan-21
17,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
18,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
19,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
20,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
21,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
22,Annalisa Talia,"5cases set,Abonnie high-quality mink eyelash e...",Via G. Tiepolo n1,NaN,MILANO,MI,20129,1,Italy,03-Jan-21
23,Mrs. J.O'Sullivan,Thaya Real S925 Sterling Silver Earring Green ...,Glaramara,Suncourt,Midleton,Cork,NaN,1,Ireland,28-Nov-20

In [35]:
def filter_(date='05-Jan-21'):
    query = data()
    #print(len(query))
    for i in range(len(query)):
     #   print(query['Sale date'][i])
        if date != (query['Sale date'][i]):
           query = query.drop(labels=i)
    return query.reset_index(drop = True)
filter_()
# query = data()
# query['Sale date'][1]

,Post to name,Item title,Post to address 1,Post to address 2,Post to city,Post to county,Post to postcode,Quantity,Post to country,Sale date
0,Grace Kirk,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,69 Lindisfarne Road,NaN,Durham,Durham,DH1 5YU,1,United Kingdom,05-Jan-21
1,Arvinder Palaha,Nylon Braided Short Length 0.25 M Long C-Type ...,14 Bream Ridge,ebayl7ly73r,Wantage,Oxfordshire,OX12 9WS,1,United Kingdom,05-Jan-21
2,Susan Southwood,Long Braided USB IOS Quick Charger Data Chargi...,"Flat 15, School Lofts",Cecil Street ebay27lp3fp,Walsall,West Midlands,WS4 2BF,2,United Kingdom,05-Jan-21
3,Tracey Loky,Long Braided USB IOS Quick Charger Data Chargi...,"Flat 10, Windsor Court",312 Forest Road ebayb7m2g9x,London,London,E17 5JJ,1,United Kingdom,05-Jan-21
4,AJ Warren,NaN,40 harewood crest,ebaym7lqtjc,brough,East Riding of Yorkshire,HU151QD,4,United Kingdom,05-Jan-21
5,NaN,Long Braided USB IOS Quick Charger Data Chargi...,NaN,NaN,NaN,NaN,NaN,2,NaN,05-Jan-21
6,NaN,Long Braided USB IOS Quick Charger Data Chargi...,NaN,NaN,NaN,NaN,NaN,2,NaN,05-Jan-21
7,Natasha Morrison,Long Braided USB IOS Quick Charger Data Chargi...,12 Totnes Road,ebayb7ltl9x,South Brent,Devon,TQ10 9BP,1,United Kingdom,05-Jan-21
8,Debi Whitelaw,Long Braided USB IOS Quick Charger Data Chargi...,Chestnuts,Barkham road ebayp7llcgs,wokingham,Berkshire,RG414TF,2,United Kingdom,05-Jan-21
9,Siu-Cheung Lee,NaN,21 Denby Grange,ebayu7lgcg3,Harlow,Essex,CM17 9PZ,2,United Kingdom,05-Jan-21
10,NaN,Heavy duty Nylon Braided Charging Type-C Cable...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
11,NaN,Heavy duty Nylon Braided Charging Type-C Cable...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
12,Izzy Hope,NaN,White Gate,Mill Hill Lane,Northallerton,North Yorkshire,DL61AP,2,United Kingdom,05-Jan-21
13,NaN,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
14,NaN,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
15,Amel Lucy,NaN,41 Ashwood Pkwy,ABN#64652016681 Code:PAID,Lakelands,WA,6180,15,Australia,05-Jan-21
16,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
17,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
18,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
19,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
20,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21

In [36]:
output=filter_().T
#print(output.index[0].replace(' ','_'))
x =output.index.to_list()

for idx, value in enumerate(x):
    x[idx]=value.replace(' ','_')
print(x)

y = ['Post', 'Item', 'Poster', 'Posts', 'Post_to', 'Post_t', 'P', 'Quantitey', 'Pos', 'Sal']
#output.reindex(x,copy=False)
output.index = x
type(output)

# output=output.to_dict()
# output

['Post_to_name', 'Item_title', 'Post_to_address_1', 'Post_to_address_2', 'Post_to_city', 'Post_to_county', 'Post_to_postcode', 'Quantity', 'Post_to_country', 'Sale_date']

pandas.core.frame.DataFrame

doc = DocxTemplate('labels.docx')
doc.render(data)
doc.save('test22.odt')

datas = {}
for row, col in itertools.product(output.index, output.columns):
    datas[f'{row}_{col}'] = df.loc[row, col]
datas

In [37]:
datas = list()
datae= dict()
for i in output:
    datas.append(output[i].to_dict())
# print(datas)
datae['orders'] = datas
datas[0]

{'Post_to_name': 'Grace Kirk',
 'Item_title': 'HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyelashes Wispy Fluffy Long[10 pairs 103]',
 'Post_to_address_1': '69 Lindisfarne Road',
 'Post_to_address_2': nan,
 'Post_to_city': 'Durham',
 'Post_to_county': 'Durham',
 'Post_to_postcode': 'DH1 5YU',
 'Quantity': 1,
 'Post_to_country': 'United Kingdom',
 'Sale_date': '05-Jan-21'}

In [38]:
#doc = DocxTemplate('templates/Labels 6.1.2020.docx')
doc = DocxTemplate('main/.resources/Labels1.docx')


print('Every thing Ok !!!£$%@')
type(datae)
#os.chdir('test results')
os.getcwd()

Every thing Ok !!!£$%@

'/home/muhammad-rumi/Documents/Python/Automate'

In [40]:
# os.chdir('/test results')
# os.getcwd()

doc.render(datae)
doc.save(os.getcwd()+'/test results/test.docx')

In [ ]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                  'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
                  index=index)
df

In [ ]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
             'Chrome']
df.reindex(new_index)

In [ ]:
from docxtpl import DocxTemplate
tpl = DocxTemplate('.resources/dynamic_table_tpl.docx')

context = {
'col_labels' : ['fruit', 'vegetable', 'stone', 'thing'],
'tbl_contents': [
    {'label': 'yellow', 'cols': ['banana', 'capsicum', 'pyrite', 'taxi']},
    {'label': 'red', 'cols': ['apple', 'tomato', 'cinnabar', 'doubledecker']},
    {'label': 'green', 'cols': ['guava', 'cucumber', 'aventurine', 'card']},
    ]
}

tpl.render(context)
tpl.save('dynamic_table.docx')