In [4]:
import pandas as pd 
from datetime import date , timedelta
from docxtpl import DocxTemplate
# from jinja2 import Environment,FileSystemLoader

## I have been working with data upto date 6 look this up in the resource file and modify the date belwo

In [7]:
today = date.today()
yesterday = today - timedelta(days = 5) 

yesterday= yesterday.strftime("%d-%b-%y")

yesterday
os.getcwd()

'/home/muhammad-rumi/Documents/Python/Automate/main'

In [8]:
def data():
    global df 
    destination = os.getcwd() + '/.resources/data.csv'
    df = pd.read_csv(destination)
    #print(df)
    colmuns = ['Post to name','Item title','Post to address 1','Post to address 2','Post to city','Post to county','Post to postcode','Quantity','Post to country','Sale date']
    return df[colmuns]

data()

,Post to name,Item title,Post to address 1,Post to address 2,Post to city,Post to county,Post to postcode,Quantity,Post to country,Sale date
0,jodie meah,NATUHANA Green Blue Purple Color Eyelash Exten...,14 gorse close,chelmsley wood GB 365 6085 76 Code:Paid,birmingham,west midlands,b375ej,1,United Kingdom,06-Jan-21
1,Grace Kirk,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,69 Lindisfarne Road,NaN,Durham,Durham,DH1 5YU,1,United Kingdom,05-Jan-21
2,Arvinder Palaha,Nylon Braided Short Length 0.25 M Long C-Type ...,14 Bream Ridge,ebayl7ly73r,Wantage,Oxfordshire,OX12 9WS,1,United Kingdom,05-Jan-21
3,Susan Southwood,Long Braided USB IOS Quick Charger Data Chargi...,"Flat 15, School Lofts",Cecil Street ebay27lp3fp,Walsall,West Midlands,WS4 2BF,2,United Kingdom,05-Jan-21
4,Tracey Loky,Long Braided USB IOS Quick Charger Data Chargi...,"Flat 10, Windsor Court",312 Forest Road ebayb7m2g9x,London,London,E17 5JJ,1,United Kingdom,05-Jan-21
5,AJ Warren,NaN,40 harewood crest,ebaym7lqtjc,brough,East Riding of Yorkshire,HU151QD,4,United Kingdom,05-Jan-21
6,NaN,Long Braided USB IOS Quick Charger Data Chargi...,NaN,NaN,NaN,NaN,NaN,2,NaN,05-Jan-21
7,NaN,Long Braided USB IOS Quick Charger Data Chargi...,NaN,NaN,NaN,NaN,NaN,2,NaN,05-Jan-21
8,Natasha Morrison,Long Braided USB IOS Quick Charger Data Chargi...,12 Totnes Road,ebayb7ltl9x,South Brent,Devon,TQ10 9BP,1,United Kingdom,05-Jan-21
9,Debi Whitelaw,Long Braided USB IOS Quick Charger Data Chargi...,Chestnuts,Barkham road ebayp7llcgs,wokingham,Berkshire,RG414TF,2,United Kingdom,05-Jan-21
10,Siu-Cheung Lee,NaN,21 Denby Grange,ebayu7lgcg3,Harlow,Essex,CM17 9PZ,2,United Kingdom,05-Jan-21
11,NaN,Heavy duty Nylon Braided Charging Type-C Cable...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
12,NaN,Heavy duty Nylon Braided Charging Type-C Cable...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
13,Izzy Hope,NaN,White Gate,Mill Hill Lane,Northallerton,North Yorkshire,DL61AP,2,United Kingdom,05-Jan-21
14,NaN,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
15,NaN,HBZGTLAD 5/10/20 Pairs 3D Soft Mink False Eyel...,NaN,NaN,NaN,NaN,NaN,1,NaN,05-Jan-21
16,Amel Lucy,NaN,41 Ashwood Pkwy,ABN#64652016681 Code:PAID,Lakelands,WA,6180,15,Australia,05-Jan-21
17,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
18,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
19,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
20,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
21,NaN,Fadvan New 16 Lines Faux Mink Natural Eyelashe...,NaN,NaN,NaN,NaN,NaN,3,NaN,05-Jan-21
22,Annalisa Talia,"5cases set,Abonnie high-quality mink eyelash e...",Via G. Tiepolo n1,NaN,MILANO,MI,20129,1,Italy,03-Jan-21
23,Mrs. J.O'Sullivan,Thaya Real S925 Sterling Silver Earring Green ...,Glaramara,Suncourt,Midleton,Cork,NaN,1,Ireland,28-Nov-20

In [9]:
def filter_(date=today):
    query = data()
    #print(len(query))
    for i in range(len(query)):
     #   print(query['Sale date'][i])
        if date != (query['Sale date'][i]):
           query = query.drop(labels=i)
    return query.reset_index(drop = True)
filter_(yesterday)
# query = data()
# query['Sale date'][1]

Empty DataFrame
Columns: [Post to name, Item title, Post to address 1, Post to address 2, Post to city, Post to county, Post to postcode, Quantity, Post to country, Sale date]
Index: []

In [10]:
output=filter_(date=yesterday).T
#print(output.index[0].replace(' ','_'))
x =output.index.to_list()

for idx, value in enumerate(x):
    x[idx]=value.replace(' ','_')
print(x)

y = ['Post', 'Item', 'Poster', 'Posts', 'Post_to', 'Post_t', 'P', 'Quantitey', 'Pos', 'Sal']
#output.reindex(x,copy=False)
output.index = x
output
# output=output.to_dict()
# print(output)

['Post_to_name', 'Item_title', 'Post_to_address_1', 'Post_to_address_2', 'Post_to_city', 'Post_to_county', 'Post_to_postcode', 'Quantity', 'Post_to_country', 'Sale_date']

Empty DataFrame
Columns: []
Index: [Post_to_name, Item_title, Post_to_address_1, Post_to_address_2, Post_to_city, Post_to_county, Post_to_postcode, Quantity, Post_to_country, Sale_date]

In [11]:
datas = list()
for i in output:
    datas.append(output[i].to_dict())
print(datas)

[]

doc = DocxTemplate('labels.docx')
doc.render(data)
doc.save('test22.odt')

In [ ]:
#doc = DocxTemplate('templates/Labels 6.1.2020.docx')
doc = DocxTemplate('templates/Labels.docx')


print('Every thing Ok !!!£$%@')
type(datas)

In [ ]:
 for data in datas:
    doc.render(data[0])
doc.save('test3.docx')

In [ ]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                  'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
                  index=index)
df

In [ ]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
             'Chrome']
df.reindex(new_index)

In [ ]:
import random,time
def displayGrid():
    'This funtion should display the grid in 5x5 shape.'
    for x in range(len(grid)):
        for y in range(len(grid)):
            if(y<len(grid)-1):    
                print(f'{grid[x][y]}  ',end='')
            else:
                print(grid[x][y])

def neighbors(r,c):
    Row=list(range(max(0,r-1),min(r+2,5)))
    Col=list(range(max(0,c-1),min(c+2,5)))
    n=[]
    for i in Row:
        for j in Col:
            if (i,j)!=(r,c):
                n.append((grid[i][j]))
    return n
  
## Main Program ##
# print(chr(9650))  #Alive
# print(chr(9679))  #Dead
grid=a=[[chr(9679)]*5,[chr(9679)]*5,[chr(9679)]*5,[chr(9679)]*5,[chr(9679)]*5]
# displayGrid()

# Make 6 random cell alive 
n=list(range(1,26))
s=random.sample(n,6)
for i in s:
    c=(i%5)-1
    r=abs(i-1)//5
    grid[r][c]=chr(9650)
displayGrid()
for count in range(20):
    # Next Generation Calculations
    getDie=[]
    getAlive=[]
    for r in range(5):
        for c in range(5):
            n=neighbors(r,c) # Get the list of all neighbors
            # Conditions when cell will change the status
            if(grid[r][c]==chr(9650) and n.count(chr(9650))<2):
                getDie.append([r,c])
            elif(grid[r][c]==chr(9650) and n.count(chr(9650))>3):
                getDie.append([r,c])
            elif(grid[r][c]==chr(9679) and n.count(chr(9650))==3):
                getAlive.append([r,c])
 
    # Cell status update
    for i in getDie:
        grid[i[0]][i[1]]=chr(9679)
    for i in getAlive:
        grid[i[0]][i[1]]=chr(9650)
    time.sleep(1.5)

    print('__________')
    displayGrid()